.vs/
/NX-Suite/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite.AssemblyInfo.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite.AssemblyInfoInputs.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_gkw1yxab_wpftmp.AssemblyInfo.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_gkw1yxab_wpftmp.AssemblyInfoInputs.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_gkw1yxab_wpftmp.assets.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_gkw1yxab_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_gkw1yxab_wpftmp.GlobalUsings.g.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_gkw1yxab_wpftmp.sourcelink.json
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_MarkupCompile.i.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_MarkupCompile.i.lref
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_zb5xbzyf_wpftmp.AssemblyInfo.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_zb5xbzyf_wpftmp.AssemblyInfoInputs.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_zb5xbzyf_wpftmp.assets.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_zb5xbzyf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_zb5xbzyf_wpftmp.GlobalUsings.g.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_zb5xbzyf_wpftmp.sourcelink.json
/NX-Suite/obj/NX-Suite_gkw1yxab_wpftmp.csproj.nuget.dgspec.json
/NX-Suite/obj/NX-Suite_gkw1yxab_wpftmp.csproj.nuget.g.props
/NX-Suite/obj/NX-Suite_gkw1yxab_wpftmp.csproj.nuget.g.targets
