.vs/
/NX-Suite/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite.AssemblyInfo.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite.AssemblyInfoInputs.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_gkw1yxab_wpftmp.AssemblyInfo.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_gkw1yxab_wpftmp.AssemblyInfoInputs.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_gkw1yxab_wpftmp.assets.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_gkw1yxab_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_gkw1yxab_wpftmp.GlobalUsings.g.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_gkw1yxab_wpftmp.sourcelink.json
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_MarkupCompile.i.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_MarkupCompile.i.lref
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_zb5xbzyf_wpftmp.AssemblyInfo.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_zb5xbzyf_wpftmp.AssemblyInfoInputs.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_zb5xbzyf_wpftmp.assets.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_zb5xbzyf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_zb5xbzyf_wpftmp.GlobalUsings.g.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_zb5xbzyf_wpftmp.sourcelink.json
/NX-Suite/obj/NX-Suite_gkw1yxab_wpftmp.csproj.nuget.dgspec.json
/NX-Suite/obj/NX-Suite_gkw1yxab_wpftmp.csproj.nuget.g.props
/NX-Suite/obj/NX-Suite_gkw1yxab_wpftmp.csproj.nuget.g.targets
/NX-Suite/obj/Debug/net8.0-windows/refint/NX-Suite.dll
/NX-Suite/obj/Debug/net8.0-windows/apphost.exe
/NX-Suite/obj/Debug/net8.0-windows/GeneratedInternalTypeHelper.g.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite.dll
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite.pdb
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite.sourcelink.json
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_evzcvcso_wpftmp.AssemblyInfo.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_evzcvcso_wpftmp.AssemblyInfoInputs.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_evzcvcso_wpftmp.assets.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_evzcvcso_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_evzcvcso_wpftmp.GlobalUsings.g.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_evzcvcso_wpftmp.sourcelink.json
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_MarkupCompile.lref
/NX-Suite/obj/Debug/net8.0-windows/ref/NX-Suite.dll
/NX-Suite/bin/Debug/net8.0-windows/NX-Suite.dll
/NX-Suite/bin/Debug/net8.0-windows/NX-Suite.exe
/NX-Suite/bin/Debug/net8.0-windows/NX-Suite.pdb
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_sgfxjxpc_wpftmp.AssemblyInfo.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_sgfxjxpc_wpftmp.AssemblyInfoInputs.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_sgfxjxpc_wpftmp.assets.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_sgfxjxpc_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_sgfxjxpc_wpftmp.GlobalUsings.g.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_sgfxjxpc_wpftmp.sourcelink.json
/NX-Suite/obj/Debug/net8.0-windows
/NX-Suite/obj
/NX-Suite/obj/Debug/net8.0-windows/UI/Controles/RetractilIzq.baml
/NX-Suite/obj/Debug/net8.0-windows/UI/Controles/RetractilIzq.g.cs
/NX-Suite/obj/Debug/net8.0-windows/UI/Controles/RetractilIzq.g.i.cs
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite_MarkupCompile.cache
/NX-Suite/obj/Debug/net8.0-windows/NX-Suite.csproj.CoreCompileInputs.cache
/NX-Suite/obj/Debug/net8.0-windows/UI/Estilos/EstilosTarjetas.baml
/NX-Suite-JSON-Prompt.md
/NX-Suite/obj/Debug/net8.0-windows/UI/Estilos/ColoresGlobales.baml
/NX-Suite/obj/Debug/net8.0-windows/App.g.i.cs
/NX-Suite/obj/Debug/net8.0-windows/UI/Controles/PanelDerecho.g.i.cs
/NX-Suite/obj/Debug/net8.0-windows/UI/Controles/RetractilDer.g.i.cs
